<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patrick Mahomes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://www.gannett-cdn.com/presto/2021/01/25/USAT/c797e612-4bf8-41fa-ae43-4ed0d3dde614-USP_NFL__AFC_Championship_Game-Buffalo_Bills_at_Ka.jpg?crop=2556,1438,x0,y48&width=2556&height=1438&format=pjpg&auto=webp" class="card-img-top" alt="Patrick Mahomes">
        <div class="card-body">
          <h5 class="card-title">Patrick Mahomes</h5>
          <p class="card-text">Patrick Mahomes is the quarterback for the Chiefs.</p>
          <a target="_blank" rel="noopener noreferrer" href="https://www.nfl.com/players/patrick-mahomes/">Profile</a>
        </div>
      </div>
</body>
</html>